*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: grey
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}
nav ul{
display: flex;
}
nav ul li a{
margin: 30px;
font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 15px;
font-weight: 700px;
}
.about-text{
    width: 80%;
    height: 330px;
    background-color: green;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
}

.about-text p:nth-child(1) {
    color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}
.about-text p:nth-child(2) {
    color: black;
    font-size: 13px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
.about-text P:nth-child(3) {
    color: #000;
    font-size: 15px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
.about-text div{
    display: flex;
    flex-direction: column;
}

.box-code image{
    border: 1px;
    border-radius: 4px;
    padding: 5px;
    width: 90 px;
    height: 90px;
}

.box-1,.box-2{
    width: 200px;
    height:220px ;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}
.box-container{
    display: flex;
    justify-content: space-between;
}

.contact-text{
    width: 100%;
    height: 200px;
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-text p{
color: white;
font-size: 50px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
border-bottom: 2px;
}



footer{
    height: 100px;
}
footer p{
font-family: Arial, Helvetica, sans-serif;
color: yellow;
text-align: center;
}

